.catalog {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  gap: $spacing-12;
  padding: $spacing-8;

  @media (max-width: $breakpoints-tablet-large) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: $breakpoints-tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $breakpoints-mobile-large) {
    grid-template-columns: repeat(1, 1fr);
  }
}
