.input {
  padding: $spacing-16 $spacing-20 $spacing-16 $spacing-8;
  border-radius: $radius-10;
  width: 100%;
  max-width: $layout-container-520;
  height: $spacing-36;

  &:focus {
    outline: none;
    border-color: var(--color-hover);
  }
}
