.button {
  width: 100%;
  padding: $spacing-16;
  background-color: $color-hover;
  color: $color-success-text;
  border: none;
  border-radius: $radius-40;
  flex-shrink: 0;
  cursor: pointer;
  transition: background-color $transition;

  &.apply {
    background-color: $color-success;
  }

  &:disabled {
    background-color: $color-disabled;
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.cancel {
  @include mixins.flexCenter();

  background-color: $color-error;
  border-radius: $radius-10;
  max-width: $spacing-48;
  color: var(--color-text);

  &:hover {
    color: $color-error;
    background-color: var(--color-text);
  }

  @media (max-width: $breakpoints-mobile-large) {
    max-width: 100%;
  }
}

.counter {
  @include mixins.flexCenter();

  background-color: initial;
  border: 1px solid var(--color-text);
  color: var(--color-text);
  width: $spacing-16;
  height: $spacing-16;

  &:hover {
    color: var(--color-bg);
    background-color: var(--color-text);
    font-size: $font-size-20;
  }

  @media (max-width: $breakpoints-mobile-large) {
    width: $spacing-48;
    height: $spacing-48;
  }
}
