.burger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: $spacing-8;
  z-index: 100;

  @media (max-width: $breakpoints-tablet) {
    display: block;
  }

  .line {
    display: block;
    width: $spacing-26;
    height: 2px;
    background-color: var(--color-text);
    transition: $transition;
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-text);
      transition: $transition;
    }

    &::before {
      top: -$spacing-8;
    }
    &::after {
      top: $spacing-8;
    }

    &.open {
      background-color: rgba(0, 0, 0, 0);

      &::before {
        top: 0;
        transform: rotate(45deg);
      }
      &::after {
        top: 0;
        transform: rotate(-45deg);
      }
    }
  }
}
