.wrapper {
  @include mixins.flexCenter();
  font-size: $font-size-20;

  &__badge {
    position: relative;
    bottom: $spacing-8;
    right: $spacing-16;
    font-size: $font-size-12;
    background-color: var(--color-text);
    color: var(--color-bg);
    border-radius: $radius-50;
    width: $spacing-20;
    height: $spacing-20;
  }
}
