:root {
  --color-bg: rgb(227, 236, 224);
  --color-bg-card: rgb(142, 228, 155);
  --color-text: rgba(0, 0, 0, 1);
  --color-hover: rgb(83, 148, 13);
  --color-text-hover: rgb(77, 78, 68);
}

[data-theme='dark-theme'] {
  --color-bg: rgba(3, 3, 4, 1);
  --color-bg-card: rgb(52, 106, 60);
  --color-text: rgba(255, 255, 255, 1);
  --color-hover: rgba(0, 206, 44, 1);
  --color-text-hover: rgb(200, 200, 200);
}
