$font-family: 'Poppins', sans-serif;
$font-size-20: 20px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 500;

$spacing-8: 8px;
$spacing-12: 12px;
$spacing-24: 24px;
$spacing-28: 28px;
$spacing-40: 40px;
$spacing-96: 96px;

$transition: 0.4s;

$breakpoints-tablet: 768px;
$breakpoints-mobile: 390px;

$layout-container-1440: 1440px;
$layout-container-520: 520px;

$color-background: var(--color-bg);
$color-text-primary: var(--color-text);
$color-hover: var(--color-hover);
$color-text-hover: var(--color-text-hover);

$color-background-card: rgba(32, 32, 37, 1);
$color-border-card: rgba(71, 71, 71, 1);

$color-error: rgb(231, 51, 51);
$color-success: rgb(169, 249, 115);
