.skeletonImage,
.skeletonTitle,
.skeletonDescription,
.skeletonPrice,
.skeletonStock,
.skeletonButton {
  background: $color-disabled;
  border-radius: $radius-10;
  animation: pulse 1.5s infinite ease-in-out;
}

.skeletonImage {
  width: 100%;
  height: $layout-image-height;
}
.skeletonTitle {
  width: 100%;
  height: 20px;
  margin: $spacing-12 0;
}
.skeletonDescription {
  width: 100%;
  height: 60px;
  margin-bottom: 16px;
}
.skeletonPrice {
  width: 40%;
  height: 20px;
}
.skeletonStock {
  padding: $spacing-4;
  width: 60px;
  height: 20px;
}
.skeletonButton {
  width: 100%;
  padding: $spacing-26;
  border-radius: $radius-40;
  flex-shrink: 0;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
