.nav {
  @include mixins.flexCenter();

  &__list {
    @include mixins.flexSpaceBetween();

    flex-wrap: wrap;
    font-size: $font-size-20;
    font-weight: $font-weight-light;

    @media (max-width: $breakpoints-tablet) {
      flex-direction: column;
      align-items: center;
      gap: $spacing-36;
    }
  }

  &__item {
    position: relative;
    list-style: none;
    margin-right: $spacing-48;

    @media (max-width: $breakpoints-tablet-large) {
      margin-right: $spacing-36;
    }
    @media (max-width: $breakpoints-tablet) {
      margin-right: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    text-decoration: none;
    transition: $transition;
    color: var(--color-text);

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      transform: scaleX(0);
      transform-origin: left;
      transition: $transition;
      background-color: var(--color-hover);
    }

    &:hover,
    &--active {
      color: var(--color-hover);
      &::after {
        transform: scaleX(1);
      }
    }
  }
}
