.card {
  @include mixins.flexCenter();

  gap: $spacing-20;
  padding: $spacing-20;
  background: var(--color-background-card);
  border-bottom: 1px solid var(--color-text);
  @media (max-width: $breakpoints-tablet) {
    padding: $spacing-16 $spacing-8;
  }

  @media (max-width: $breakpoints-mobile-large) {
    flex-direction: column;
  }
}

.image {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: $spacing-16;
  @media (max-width: $breakpoints-mobile-large) {
    @include mixins.flexCenter();
  }
}

.title,
.price {
  font-weight: $font-weight-bold;
  @media (max-width: $breakpoints-tablet) {
    font-size: $font-size-16;
  }
  @media (max-width: $breakpoints-mobile-large) {
    text-align: center;
  }
}

.controls {
  display: flex;
  align-items: center;
  gap: $spacing-16;
}

.count {
  @include mixins.flexCenter();
  width: $spacing-16;
}
