.header {
  @include mixins.flexCenter();

  text-align: center;
  padding: $spacing-16 $spacing-48;
  width: 100%;
  height: $spacing-96;
  box-sizing: border-box;

  &__logo {
    position: relative;
    font-family: $font-family-logo;
    z-index: 101;
    @media (max-width: $breakpoints-mobile) {
      max-width: 150px;
    }
  }

  @media (max-width: $breakpoints-tablet-large) {
    padding: $spacing-20 $spacing-32;
  }

  @media (max-width: $breakpoints-mobile) {
    padding: $spacing-16;
  }

  &__container {
    @include mixins.flexSpaceBetween();

    max-width: $layout-container-1440;
    width: 100%;

    @media (max-width: $breakpoints-mobile) {
      justify-content: space-between;
    }
  }

  &__nav {
    @media (max-width: $breakpoints-tablet) {
      @include mixins.flexCenter();
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100vh;
      background-color: var(--color-bg);
      transition: $transition;
      padding-top: $spacing-96;

      &--open {
        right: 0;
      }
    }
  }

  &__cart-mobile {
    display: none;

    @media (max-width: $breakpoints-tablet) {
      display: block;
      position: relative;
      z-index: 100;
    }
  }
}
