.header {
  @include mixins.flexCenter();

  text-align: center;
  padding: $spacing-36 $spacing-96;
  width: 100%;
  height: $spacing-96;
  box-sizing: border-box;

  &__logo {
    position: relative;
    z-index: 101;
    @media (max-width: $breakpoints-mobile) {
      max-width: 150px;
    }
  }
  @media (max-width: $breakpoints-tablet-large) {
    padding: $spacing-20 $spacing-32;
  }
  &__container {
    @include mixins.flexSpaceBetween();

    max-width: $layout-container-1440;
    width: 100%;

    @media (max-width: $breakpoints-mobile) {
      justify-content: space-around;
    }
  }

  &__nav {
    @media (max-width: $breakpoints-tablet) {
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100vh;
      background-color: var(--color-bg);
      transition: $transition;
      padding-top: $spacing-96;

      &--open {
        right: 0;
      }
    }
  }
}
