.footer {
  @include mixins.flexCenter();

  width: 100%;
  flex-direction: column;
  padding: $spacing-16 $spacing-48;
  box-sizing: border-box;
  &__logo {
    position: relative;
    font-family: $font-family-logo;
  }
}

.footer__container {
  width: 100%;
  height: 100%;
  gap: $spacing-12;
  max-width: $layout-container-1440;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__logo {
  @include mixins.flex();

  justify-content: flex-start;
  position: relative;
  gap: $spacing-16;
}
