.empty {
  @include mixins.flexCenter();
  margin: auto;
  padding: $spacing-16;
}

.text {
  font-size: $font-size-20;
  font-weight: $font-weight-bold;
  color: var(--color-text);
  opacity: 0.7;

  @media (max-width: $breakpoints-mobile-large) {
    font-size: $font-size-16;
  }
}
