.wrapper {
  @include mixins.flexCenter();

  flex-direction: column;
  font-size: $font-size-46;
  color: $color-error;
  max-width: $layout-container-520;
  text-align: center;
  gap: $spacing-20;

  @media (max-width: $breakpoints-tablet) {
    font-size: $font-size-20;
  }
}
